body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.lightbox-inner {
    position: fixed;
    padding: 10px;
    background: antiquewhite;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox > div > img {
    width: 400px;
    height: auto;
}

.lightbox > div > ul {
    text-align: left;
    margin-left:30%;
}

iframe {
    width: 800px;
    height: 600px;
}

.close-button {
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
}

#usernameTextBox {
    width: 20em;
    margin-right: 10px;
}

.user, .collection{
    text-align: left;
}

.collection-list {
    display: inline;
}

.collection-item {
    margin: 8px;
    width: 100%;
}

.collection-item:hover {
    background: azure;
}

.collection-item > div > a > h3 {
    padding-left: 10px;
    display: inline;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}